# Python

__pycache__/
*.pyc

# Environment variables
.env
.env.*

# Credentials
credentials_*.json

# Java
*.jar

# Node.js
discord-bot/node_modules/

# Other
n8n-homework-ai-automation.git/

# Local state and logs
current_key.json
INTERACT.md